src/workflows/backup/EMAIL_SENDER_PHASE5.json.bak
{
  "name": "Email Sender - Phase 5 (Suivi Post-Concert)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1
            }
          ]
        }
      },
      "id": "3b7319d1-e905-4843-8f1e-30793b97e403",
      "name": "Concert → Timer J+3",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        580,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1c481449-f795-8095-a5cf-cc4418e7ddb7",
          "mode": "list",
          "cachedResultName": "LOT1",
          "cachedResultUrl": "https://www.notion.so/1c481449f7958095a5cfcc4418e7ddb7"
        },
        "filterType": "manual",
        "conditions": {
          "string": [
            {
              "value1": "{{ $json.properties.Status.status.name }}",
              "operation": "equals",
              "value2": "Confirmé GCal"
            }
          ],
          "date": [
            {
              "value1": "{{ $json.properties.Date.date.start }}",
              "operation": "beforeXDays",
              "value2": 3
            }
          ]
        },
        "options": {}
      },
      "id": "894f9cd2-f4f7-4ecd-a5b1-7fe91fb87260",
      "name": "Get Recent Concerts",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "gFvw0ObPabSVTQIp",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Préparation des emails de remerciement\nconst emails = [];\n\nfor (const item of items) {\n  try {\n    // Extraction des données de la page Notion\n    const properties = item.json.properties;\n    const name = properties.Name.title[0]?.text.content || 'Concert sans nom';\n    const date = properties.Date?.date?.start;\n    const venue = properties.Venue?.rich_text[0]?.text.content || 'votre salle';\n    const contact = properties.Contact?.rich_text[0]?.text.content || '';\n    const email = properties.Email?.email || '';\n    \n    if (!email) {\n      // Ignorer les contacts sans email\n      continue;\n    }\n    \n    // Création de l'email de remerciement\n    emails.push({\n      json: {\n        to: email,\n        subject: `Merci pour le concert à ${venue} !`,\n        message: `Bonjour ${contact},\n\nNous tenions à vous remercier chaleureusement pour le concert du ${date} à ${venue}. \nToute l'équipe de Gribitch a passé un excellent moment et nous espérons que le public a apprécié également.\n\nNous serions ravis de collaborer à nouveau avec vous pour de futurs événements.\n\nN'hésitez pas à nous faire part de vos retours ou suggestions.\n\nBien cordialement,\nL'équipe Gribitch\n`,\n        pageId: item.json.id\n      }\n    });\n  } catch (error) {\n    // Gestion des erreurs\n    console.log(`Erreur lors du traitement de l'élément: ${error.message}`);\n  }\n}\n\nreturn emails;"
      },
      "id": "3802bc6c-c156-479d-81a7-24a1235f0d18",
      "name": "Préparer Emails Remerciement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.message }}",
        "options": {
          "sendTo": "={{ $json.to }}"
        }
      },
      "id": "f0ef9b9c-0eba-4238-b366-3d28a84429d0",
      "name": "Send Thank You Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1240,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "xKa629oVYYGTlvnn",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json.pageId }}",
        "properties": {
          "Status": {
            "status": {
              "name": "Terminé"
            }
          },
          "Suivi": {
            "rich_text": [
              {
                "text": {
                  "content": "✅ Email de remerciement envoyé le {{ $now.format('DD/MM/YYYY') }}"
                }
              }
            ]
          }
        }
      },
      "id": "671105b1-2405-4f83-8f16-3c4ad34a22a6",
      "name": "Update Notion Status",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [
        1460,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "gFvw0ObPabSVTQIp",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ✅ Phase 5: Suivi Post-Concert\n\nDéclencheur: Concert → Timer J+3 (Cron quotidien)\nObjectif: Envoyer remerciements et collecter feedback",
        "height": 280,
        "width": 1220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        180
      ],
      "id": "d8679572-aef3-4d0d-bb2c-e6dd340a5deb",
      "name": "Sticky Note Phase 5"
    }
  ],
  "connections": {
    "Concert → Timer J+3": {
      "main": [
        [
          {
            "node": "Get Recent Concerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Concerts": {
      "main": [
        [
          {
            "node": "Préparer Emails Remerciement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer Emails Remerciement": {
      "main": [
        [
          {
            "node": "Send Thank You Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Thank You Email": {
      "main": [
        [
          {
            "node": "Update Notion Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "5a8b8a8a-8a8a-4a8a-8a8a-8a8a8a8a8a8a",
  "id": "5",
  "meta": {
    "instanceId": "b888bd11d2a9b7f1b279386f140a9b78c55afa0dbe4a6d35f4590595b0503772"
  },
  "tags": [
    {
      "name": "Phase 5",
      "color": "#33ff99"
    }
  ]
}
