src/mcp/workflows/test-mcp-git-ingest-workflow.json
{
  "name": "Test MCP Git Ingest",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeTool",
        "credentials": {
          "name": "MCP Git Ingest"
        },
        "tool": "github_directory_structure",
        "parameters": {
          "repo_url": "https://github.com/adhikasp/mcp-git-ingest"
        }
      },
      "name": "MCP Client - Directory Structure",
      "type": "n8n-nodes-base.mcpClient",
      "typeVersion": 1,
      "position": [
        460,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeTool",
        "credentials": {
          "name": "MCP Git Ingest"
        },
        "tool": "github_read_important_files",
        "parameters": {
          "repo_url": "https://github.com/adhikasp/mcp-git-ingest",
          "file_paths": [
            "README.md",
            "pyproject.toml"
          ]
        }
      },
      "name": "MCP Client - Read Files",
      "type": "n8n-nodes-base.mcpClient",
      "typeVersion": 1,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "content": "=== Structure du dépôt ===\n\n{{$node[\"MCP Client - Directory Structure\"].json[\"result\"]}}\n\n=== Contenu des fichiers importants ===\n\n{{$node[\"MCP Client - Read Files\"].json[\"result\"][\"README.md\"]}}\n\n=== Configuration du projet ===\n\n{{$node[\"MCP Client - Read Files\"].json[\"result\"][\"pyproject.toml\"]}}",
        "height": 600,
        "width": 600
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "MCP Client - Directory Structure",
            "type": "main",
            "index": 0
          },
          {
            "node": "MCP Client - Read Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
