n8n-unified/integrations/augment/workflows/augment-memory-sync.json
{
  "name": "Augment Memory Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "minutesInterval": 1,
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "filePath": "D:/DO/WEB/N8N_tests/PROJETS/EMAIL_SENDER_1/n8n-unified/integrations/augment/memories/n8n_workflows.json"
      },
      "id": "2",
      "name": "Read Workflows File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.fileContent }}",
        "rules": {
          "rules": [
            {
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "3",
      "name": "Check If File Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "command": "powershell -ExecutionPolicy Bypass -File \"D:/DO/WEB/N8N_tests/PROJETS/EMAIL_SENDER_1/n8n-unified/integrations/augment/AugmentN8nIntegration.ps1\" -Action Export"
      },
      "id": "4",
      "name": "Export Workflows",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "command": "powershell -ExecutionPolicy Bypass -File \"D:/DO/WEB/N8N_tests/PROJETS/EMAIL_SENDER_1/n8n-unified/integrations/augment/AugmentN8nIntegration.ps1\" -Action Sync"
      },
      "id": "5",
      "name": "Sync Workflows",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "filePath": "D:/DO/WEB/N8N_tests/PROJETS/EMAIL_SENDER_1/n8n-unified/integrations/augment/logs/augment-n8n-integration.log"
      },
      "id": "6",
      "name": "Read Log File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "content": "=## Augment Memory Sync\n\nLa synchronisation des workflows n8n avec Augment a été effectuée le {{ $now.format(\"DD/MM/YYYY HH:mm:ss\") }}.\n\n### Dernières entrées du journal :\n\n```\n{{ $json.fileContent.slice(-1000) }}\n```",
        "options": {}
      },
      "id": "7",
      "name": "Create Report",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Workflows File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Workflows File": {
      "main": [
        [
          {
            "node": "Check If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Exists": {
      "main": [
        [
          {
            "node": "Export Workflows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sync Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Workflows": {
      "main": [
        [
          {
            "node": "Read Log File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Workflows": {
      "main": [
        [
          {
            "node": "Read Log File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Log File": {
      "main": [
        [
          {
            "node": "Create Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
